# — Terraform state & plugins lock —
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# — Variáveis e credenciais —
*.tfvars
terraform.tfvars
terraform.tfvars.json
gha-creds-*.json             # credenciais do CI

# — Configs gerados pelos templates/pipeline —
terraform/velocity/forwarding.secret
terraform/velocity/velocity.toml
terraform/paper/configs/paper-global.yml
terraform/paper/configs/server.properties    # se for gerado
terraform/paper/configs/spigot.yml           # se for gerado

# — Plugins locais (se usar pasta de plugins) —
terraform/paper/plugins/
velocity/plugins/

# — Docker Compose output —
docker-compose.override.yml

# — IDE & sistema operacional —
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

#bucket backend
terraform/backend.tf

# — Outros —
terraform/velocity/plugins/
terraform/paper/plugins/

