# terraform.tfvars 

project_id      = "YOUR_PROJECT_ID_HERE"
region          = "YOUR_REGION_HERE"
zone            = "YOUR_ZONE_HERE"
gcp_user_email  = "YOUR_EMAIL"
github_repo     = "YOUR GIT REPO HERE" # <-- CHANGE HERE FROM YOUR USER/REPO