# — Terraform State & Lock —
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Variables com segredos
*.tfvars
terraform.tfvars
terraform.tfvars.json

# Configs e secrets gerados
terraform/velocity/forwarding.secret
terraform/velocity/velocity.toml
terraform/paper/configs/paper-global.yml
# (se usar pasta de plugins local)
terraform/paper/plugins/

# Credentials do CI
gha-creds-*.json

# IDE / OS cruft
.vscode/
.idea/
*.swp
.DS_Store
